#header{
    text-align:center;
    margin: auto 0;
    background-color: tomato;
    padding:10px 5px 15px;
}
#content{
    margin: 0 auto;
    width:900px;
    background-color: bisque;
    padding:20px 15px;
}
.major{
    border-bottom: 3px solid gray;
    padding: 0px 15px;
    margin: 10px;
}
.disc{
    list-style-type:disc;
    padding: 0px 15px;
    text-decoration:none
}
.circle{
    list-style-type:circle;
    padding: 0px 55px;
}
.circle a:hover{
    background-color: #ff7f50;
    text-decoration: none;
}
#footer{
    text-align: center;
    background-color: tomato;
    margin: auto 0;
    padding:30px 5px 30px;
}
.backup{
    text-align: right;
}
a:link{
    color:#037d96;
    text-decoration: none;
}
a:visited{
    color:#037d96;
    text-decoration: none;
}
.backup a:hover{
    background-color: #ff7f50;
    text-decoration: none;
}
.disc a:hover{
    background-color: #ff7f50;
    text-decoration: none;
}
#html{
    color:rgb(255, 60, 0);
    margin: 150px 0;
}
#bootstrap{
    color:purple;
    margin: 150px 0;
}
#vue{
    color:green;
    margin: 150px 0;
}


